body {
  text-align: center;
  background-image: url(https://phantom-marca.unidadeditorial.es/7c303746880b583fa973970f54e4d206/assets/multimedia/imagenes/2020/11/11/16050903070173.jpg);
  background-size: 100%;
  
}

.NavBar{
  color: azure;
  background-image: url(https://motos.honda.com.co/images/blogs/MejoresCascosMoto.jpg);
  display: block;
  background-position: 0% 65%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -60px;
  border: 3px solid black;
}

button {
  font-size:10px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#f33a2a;
        border:0px;
        width:80px;
        height:19px;
}


h3{
  font-family:Verdana,Helvetica;
  font-size: 60px;
}

.botones-nav{
  display: flex;
  justify-content: space-evenly;
  background-color:
}

.carrito{
  height: 50px;
  font-size: 20px;
  display: flex;
  justify-content: end;
  margin-top: -40px;
  
}

.Controls{
  height: 80px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.ButtonCarrito{
  height: 40px;
  margin: 20px;
}

.Counter{
  backdrop-filter: blur(11px);
  height: 50%;
  width: 30%;
  margin-left: 35%;
  border: 5px solid rgb(7, 7, 7) ;
}

.saludo{
  background-color: aliceblue;
}

.Number{
  color: aliceblue;
  margin: 25%;
}